@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cyberpunk,
    dracula,
    coffee;
}
@font-face {
  font-family: "myFont";
  src: url("./assets/TeknafRegular-rv0aB.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "myFont", sans-serif;
  letter-spacing: 0.05em; /* adjust value */
}

html {
  scroll-behavior: smooth;
}
