@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cyberpunk, dracula;
}
body {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
